<div class="container-fluid">
    <app-more></app-more>
    <div>
        <div class="listContainer">
            <ul>
                <li>
                    <div class="iconText">
                        <mat-icon>new_releases</mat-icon>
                        <label>Promoções</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <mat-icon>search</mat-icon>
                        <label>Encontrar um MULTIBANCO</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <label>Bancos aderentes</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <mat-icon>attachment</mat-icon>
                        <label>Documentos</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <mat-icon>star_border</mat-icon>
                        <label> Classificar o TYCARDS</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <mat-icon>info</mat-icon>
                        <label> Privacidade e Termos</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <mat-icon>device_unknown</mat-icon>
                        <label> Perguntas frequentes</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <app-navbar></app-navbar>
</div>