<div style="padding-bottom: 50px;">
    <nav class="navbar navbar-dark bg-dark text-center"
        style="position: fixed; bottom: 0; left: 0; width: 100%; height: auto;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [class.active]="isActive('mainView')" aria-current="page" href="mainView">INÍCIO</a>
            </li>
            <li class="nav-item">
                <a [class.active]="isActive('navbar')" class="nav-link" href="">ACTIVIDADE</a>
            </li>
            <li class="nav-item">
                <a [class.active]="isActive('information')" class="nav-link" href="information">MAIS</a>
            </li>
            <li class="nav-item">
                <a [class.active]="isActive('login')" class="nav-link" href="login">SAIR</a>
            </li>
        </ul>
    </nav>
</div>
<div class="banner" style="position: fixed; bottom: 50px; left: 0; width: 100%;" id="carouselExampleFade"
    class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/bannerExample1.png" class="d-block w-100" style="max-height: 100%; object-fit: 
            cover; object-position: center left; " alt="...">
        </div>
        <div class="carousel-item active">
            <img src="../../assets/bannerExample2.png" class="d-block w-100" style="max-height: 100%; object-fit: 
            cover; object-position: center left; " alt="...">
        </div>
        <div class="carousel-item active">
            <img src="../../assets/bannerExample3.png" class="d-block w-100" style="max-height: 100%; object-fit: 
            cover; object-position: center left; " alt="...">
        </div>
    </div>
</div>