h1{
    margin: 20px;
    font-weight: bold;
}
ul{
    list-style-type:none;
    margin-top: 20px;
    padding: 20px;
}
li{
    border-bottom: 1px solid black;
    padding: 0;
margin: 0;
margin-bottom: 20px;
}
label{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.activityTitle{
    background: #e8e5e5;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn-primary{
    background: rgba(86, 83, 81, 0.518);
    border: none;
}
.btn-primary:active{
    background: rgba(86, 83, 81, 0.518);
    border: none;
}
.selected {
    background-color: orangered;
    color: white;
}
