<div>
    <div class="activityTitle">
        <h1>ACTIVIDADE</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary form-control" [ngClass]="{'selected': historicoSelected}"
                    (click)="selectButton('historico')">
                    HISTÓRICO
                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary form-control" [ngClass]="{'selected': pendentesSelected}"
                    (click)="selectButton('pendentes')">
                    PENDENTES
                </button>
            </div>
        </div>
        <div *ngIf="historicoSelected" class="activityInfo">
            <ul>
                <li>
                    2024-01-13 13:00 Levantamento
                </li>
                <li>
                    2024-01-30 15:40 Pagamento Serv.
                </li>
                <li>
                    2024-02-20 11:20 Pegamento Serv.
                </li>
                <li>
                    2024-03-09 19:00 Levantamento
                </li>
            </ul>
        </div>
        <div *ngIf="!historicoSelected" class="activityInfo">
            <label>Não tem actividades pendentes</label>
        </div>
    </div>
    <app-navbar></app-navbar>
</div>