<div class="container-fluid">
    <app-more></app-more>
    <div>
        <div class="listContainer">
            <ul>
                <li>
                    <div class="iconText">
                        <mat-icon> vpn_key</mat-icon>
                        <label>Segurança</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <mat-icon>credit_card</mat-icon>
                        <label>Cartões</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <mat-icon>devices</mat-icon>
                        <label>Os meus dispositivos</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <mat-icon>brightness_6</mat-icon>
                        <label>Modo escuro</label>
                    </div>
                </li>
                <li>
                    <div class="iconText">
                        <mat-icon>lock_open</mat-icon>
                        <label>Tratamento de dados pessoais</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>