<div class="content">
    <div class="centered-content">
        <div>
            <h1>BEM-VINDO</h1>
            <h6>Por favor entre com as suas credencias</h6>
            <label>Código de adesão</label>
            <input class="form-control" type="text" placeholder="Digite o seu código de adesão" />

            <label>Senha</label>
            <input class="form-control" type="password" placeholder="*************" />
            <div>
                <button (click)="goMain()" class="mt-4 mb-3 btn btn-primary form-control">
                    Entrar
                </button>
            </div>
            <label id="footerLabel">Esqueceu a sua senha?<span style="color: red;"> Fale com o
                    suporte</span></label>
        </div>
    </div>
</div>