<div class="banner" style="position: fixed; bottom: 50px; left: 0; width: 100%;" id="carouselExampleFade"
    class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/bannerExample1.png" class="d-block w-100" style="max-height: 100%; object-fit: 
            cover; object-position: center left; " alt="...">
        </div>
        <div class="carousel-item active">
            <img src="../../assets/bannerExample2.png" class="d-block w-100" style="max-height: 100%; object-fit: 
            cover; object-position: center left; " alt="...">
        </div>
        <div class="carousel-item active">
            <img src="../../assets/bannerExample3.png" class="d-block w-100" style="max-height: 100%; object-fit: 
            cover; object-position: center left; " alt="...">
        </div>
    </div>
</div>