h1{
   color: #4640d8;
   font-weight: bold;
   font-size: 60px;
}
p{
    margin-top: 40px;
    font-size: 17px;
}
.imgContent {
    max-width: 100%;
    height: auto;
}

.content{
    padding: 40px 0 10px 30px;
}
.btn-warning{
    font-size: 30px;
    border-radius: 15px;
}