<div class="">
    <div>
        <div>
            <div>
                <img class="imgContent" src="../../assets/bankImg.jpg">
            </div>
            <div class="content">
                <div>
                    <h1>TYWALLET</h1>
                    <p>Tenha todos os seus cartões em um só lugar com a nossa aplicação inovadora!
                        Simplifique sua
                        vida financeira ao reunir seus cartões</p>
                </div>
                <div>
                    <a href="login" class="btn btn-warning mt-2">
                        Começar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>