<!-- <div class="container-fluid">
    <div>
     
    </div>
    
</div> -->

<div>
    <div>
        <swiper-container #swiper (swiperslidechange)="onSlideChange($event)" class="mySwiper" pagination="true"
            effect="coverflow" grab-cursor="true" centered-slides="true" slides-per-view="auto"
            coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
            coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
            <swiper-slide>
                <img src="../../assets/cardExample1.png">
                <div class="overlayText">
                    5235 12******009 3
                </div>
            </swiper-slide>
            <swiper-slide>
                <img src="../../assets/cardExample2.png">
                <div class="overlayText">
                    2332 11******554 3
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="emptyCard">
                    <mat-icon class="emptyCardInfo">add_circle_outline</mat-icon>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
    <div>
        <div *ngIf="emptyCard">
            <div style="display: flex; justify-content: center;">
                <button data-bs-toggle="modal" data-bs-target="#infoModal" class="btn btn-primary">
                    ADICIONAR CARTÃO
                </button>
            </div>
            <div style="text-align: center; margin-top: 10px;">
                <p>Pode adicionar cartões de debito e crédito.</p>
            </div>
        </div>

    </div>
    <div class="cards">
        <div *ngIf="!emptyCard">
            <div class="row">
                <div class="col-4 col-md-4">
                    <div data-bs-toggle="modal" data-bs-target="#exampleModal" class="cardContainer">
                        <div class="cardContainerInfo">
                            <mat-icon style="color: #4640d8;">trending_up</mat-icon>
                            <label id="cardInfo">Transações</label>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="cardContainer">
                        <div class="cardContainerInfo">
                            <mat-icon style="color: #4640d8;">remove_red_eye</mat-icon>
                            <label id="cardInfo">Ver saldo</label>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="cardContainer">
                        <div class="cardContainerInfo">
                            <mat-icon style="color: #4640d8;">send</mat-icon>
                            <label id="cardInfo">Enviar dinheiro</label>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="cardContainer">
                        <div class="cardContainerInfo">
                            <mat-icon style="color: #4640d8;">payment</mat-icon>
                            <label id="cardInfo">Pagar TYcards</label>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="cardContainer">
                        <div class="cardContainerInfo">
                            <mat-icon style="color: #4640d8;">card_giftcard</mat-icon>
                            <label id="cardInfo">Ser solidário</label>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="cardContainer">
                        <div class="cardContainerInfo">
                            <mat-icon style="color: #4640d8;">add_shopping_cart</mat-icon>
                            <label id="cardInfo">Pagamentos autorizados</label>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="cardContainer">
                        <div class="cardContainerInfo">
                            <mat-icon style="color: #4640d8;">lock</mat-icon>
                            <label id="cardInfo">Bloquear cartão</label>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="cardContainer">
                        <div class="cardContainerInfo">
                            <mat-icon style="color: #4640d8;">cancel</mat-icon>
                            <label id="cardInfo">Cancelar cartão</label>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="cardContainer">
                        <div class="cardContainerInfo">
                            <mat-icon style="color: #4640d8;">close</mat-icon>
                            <label id="cardInfo">Não implementado</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>