
  .overlayText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight:600;
    text-align: center;
    width: 100%;
}
.btn-primary{
    background: #57575b;
    border: none;
}
.btn-primary:hover{
    background: #161617;
    border: none;
}
.emptyCard{
    background: rgb(182, 166, 166);
  height: 100%;
   width: 100%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn-info{
    background: #4640d8;
    border: none;
    color: white;
}
.emptyCardInfo{
    font-size: 100px;
    height: auto;
    width: auto;
}
.cardContainer{
    background:  rgb(222, 222, 222);
    border-radius: 5px;
    height: 100px;
    width: 110px;
    margin-top: 5px;
padding: 15px;
}
.row{
margin-right: 0;
}
.cardContainerInfo{
    text-align: center;
}
#cardInfo{
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
swiper-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: auto;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }