h3{
    text-align: center;
    padding-top: 40px;
    color: white;
}
label{
    font-weight: bold;
    font-size: 18px;
}
#icon{
    font-weight: bold;
}
.container-fluid{
    background: #4640d8;
    height: 190px;
}
.contentHead{
    margin-bottom: 100px;
}
.creditCard{
width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
}
img{
    width: 100%;
    height: auto;
}
.imgContainer{
    margin: 40px;
}
.value{
    font-weight: bold;
    font-size:30px
}
.accountNumber{
    font-weight: bold;
    font-size: 12px;
}
.expirationDate{
    font-weight: bold;
    text-align: right;
    font-size: 12px;
}
#cardNumber{
color: rgb(174, 174, 174);
padding: 25px;
display: flex;
}
.iconFont{
font-size: 30px;
height: auto;
width: auto;

}
.texFont{
    font-size: 20px;
    margin-left: 20px;
}
.cardContainer{
    background:  rgb(222, 222, 222);
    border-radius: 5px;
   margin-top: 20px;
    height: 100px;
    padding: 10px;
}
.cardContainerInfo{
    text-align: center;
}
#cardInfo{
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details{
    color: rgb(2, 2, 2);
font-size: 20px;
}
.amountSpent{
    color: #ffbd00;
    font-weight: bold;
font-size: 20px;
text-align: center;
}
.emptyCard{
    background: rgb(182, 166, 166);
    height: 206px;
    margin: 20px;
    border-radius: 25px;
align-items: center;
display: flex;
justify-content: center;

}
.emptyCardInfo{
    font-size: 100px;
    height: auto;
    width: auto;
}
.btn-primary{
    background: #57575b;
    border: none;
}
.btn-primary:hover{
    background: #161617;
    border: none;
}
.btn-info{
    background: #4640d8;
    border: none;
    color: white;
}
.transationContainer{
    border-bottom: 0.5px solid #000000;
    margin-top: 10px;
}
.transationContent{
    font-weight: normal;
margin-bottom: 5px;
}

