<div class="container-fluid">
    <div class="contentHead">
        <div class="title">
            <h3>MEUS CARTÕES</h3>
            <div class="creditCard">
                <div class="text-end">
                    <i id="icon"><mat-icon>add_circle</mat-icon><mat-icon>lock</mat-icon><mat-icon>cancel</mat-icon></i>
                </div>
                <div class="">
                    <label>Saldo</label>
                    <p class="value">$ 1.000,00</p>
                    <div class="row">
                        <div class="col-6">
                            <p class="accountNumber">5213 6450 5408 7516</p>
                        </div>
                        <div class="col-6">
                            <p class="expirationDate">07/22</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="cardNumber">
                    <mat-icon class="iconFont"> monetization_on</mat-icon>
                    <label class="texFont">
                        Número do cartão
                    </label>
                </div>
                <div class="cardNumberContainer">
                    <p class="cardNumberInfo">5213 6450 5408 7516</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div id="cardNumber">
                            <mat-icon class="iconFont" style="padding-right: 50px;">calendar_today</mat-icon>
                            <label style="  font-size: 20px;">
                                Expiração
                            </label>
                        </div>
                        <div class="cardNumberContainer">
                            <p class="cardNumberInfo">07/22</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="cardNumber">
                            <mat-icon class="iconFont"> monetization_on</mat-icon>
                            <label class="texFont">
                                CVV
                            </label>
                        </div>
                        <div class="cardNumberContainer">
                            <p class="cardNumberInfo">346</p>
                        </div>
                    </div>
                </div>
                <label style="padding: 25px;">Transações</label>
                <div class="transationContent">
                    <div>
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="details">Transporte</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="amountSpent">-$4,56</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="details">Alimentação</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="amountSpent">-$10,00</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="details">Impostos</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="amountSpent">-$50,20</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="details">Multa</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="amountSpent">-$20,10</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>