h3{
    text-align: center;
    padding-top: 40px;
    color: white;
}
label{
    font-weight: bold;
    font-size: 18px;
}
#icon{
    font-weight: bold;
}
ul{
list-style: none;
margin: -25px;
}
li{
    margin: 0;
    padding: 0;
}
.container-fluid{
    background: #4640d8;
    height: 205px;
}
.contentHead{
    margin-bottom: 100px;
}
.creditCard{
    background: #ffbd00;
    margin: 20px;
    border-radius: 25px;
    padding: 25px;
}
.value{
    font-weight: bold;
    font-size:30px
}
.accountNumber{
    font-weight: bold;
    font-size: 12px;
}
.expirationDate{
    font-weight: bold;
    text-align: right;
    font-size: 12px;
}
#cardNumber{
color: rgb(174, 174, 174);
padding: 25px;
display: flex;
}
.iconFont{
font-size: 30px;
height: auto;
width: auto;

}
.texFont{
    font-size: 20px;
    margin-left: 20px;
}
.cardContainer{
    background:  rgb(222, 222, 222);
    border-radius: 5px;
   margin-top: 20px;
    height: 100px;
    padding: 10px;
}
.cardContainerInfo{
    text-align: center;
}
#cardInfo{
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transationContent{
    background: #4640d8;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 60px;
    border-radius: 50px 50px 0 0;
}
.details{
    color: white;
font-size: 20px;

}
.amountSpent{
    color: #ffbd00;
    font-weight: bold;
font-size: 20px;
text-align: center;
}
.emptyCard{
    background: rgb(182, 166, 166);
    height: 220px;
    margin: 20px;

    border-radius: 25px;
align-items: center;
display: flex;
justify-content: center;

}
.emptyCardInfo{
    font-size: 100px;
    height: auto;
    width: auto;
}
.btn-primary{
    background: #57575b;
    border: none;
}
.btn-primary:hover{
    background: #161617;
    border: none;
}


