<div class="container-fluid">
    <div class="contentHead">
        <div class="title">
            <h3>MEUS CARTÕES</h3>
            <div (click)="goToCamara()" style="display: flex; justify-content: end;">
                <mat-icon style="font-size: 38px; width: auto;
                height: auto;">camera_enhance</mat-icon>
            </div>
            <div class="creditCard">
                <div class="text-end">
                    <i id="icon"><mat-icon>add_circle</mat-icon><mat-icon>lock</mat-icon><mat-icon>cancel</mat-icon></i>
                </div>
                <div class="">
                    <label>Saldo</label>
                    <p class="value">$ 1.000,00</p>
                    <div class="row">
                        <div class="col-6">
                            <p class="accountNumber">5213 6450 5408 7516</p>
                        </div>
                        <div class="col-6">
                            <p class="expirationDate">07/22</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-4">
                        <div class="cardNumberContainer">

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cardNumberContainer">

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cardNumberContainer">

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cardNumberContainer">

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cardNumberContainer">

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cardNumberContainer">

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cardNumberContainer">

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cardNumberContainer">

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cardNumberContainer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-navbar></app-navbar>
</div>
<!-- 
//Extra -->
<!-- 
<label style="padding: 25px;">Transações</label>
<div class="transationContent">
    <div>
        <ul>
            <li>
                <div class="row">
                    <div class="col-6">
                        <p class="details">Transporte</p>
                    </div>
                    <div class="col-6">
                        <p class="amountSpent">-$4,56</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-6">
                        <p class="details">Alimentação</p>
                    </div>
                    <div class="col-6">
                        <p class="amountSpent">-$10,00</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-6">
                        <p class="details">Impostos</p>
                    </div>
                    <div class="col-6">
                        <p class="amountSpent">-$50,20</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-6">
                        <p class="details">Multa</p>
                    </div>
                    <div class="col-6">
                        <p class="amountSpent">-$20,10</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> -->