<div class="container-fluid">
    <div class="contentHead">
        <div class="title">
            <app-cards-carousel></app-cards-carousel>
        </div>
    </div>
    <div>
        <app-banner></app-banner>
        <app-navbar></app-navbar>
    </div>
</div>
<!-- Modais -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Transações</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height:300px ;">
                <div class="transationContainer">
                    <div class="row">
                        <div class="col-6">
                            <label class="transationContent">Tranporte</label>
                        </div>
                        <div style="text-align: end; color: red;" class="col-6">
                            <label style="font-weight: 700;" class="transationContent">$-8,20</label>
                        </div>
                    </div>
                </div>
                <div class="transationContainer">
                    <div class="row">
                        <div class="col-6">
                            <label class="transationContent">Comissão</label>
                        </div>
                        <div style="text-align: end; color: green;" class="col-6">
                            <label style="font-weight: 700;" class="transationContent">$10,45</label>
                        </div>
                    </div>
                </div>
                <div class="transationContainer">
                    <div class="row">
                        <div class="col-6">
                            <label class="transationContent">Alimentação</label>
                        </div>
                        <div style="text-align: end; color: red;" class="col-6">
                            <label style="font-weight: 700;" class="transationContent">$-3,45</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar cartão</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Como pretende adicionar o cartão?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="goToCamara()">Ler
                    codigo QR</button>
                <button type="button" class="btn btn-primary">Formulário</button>
            </div>
        </div>
    </div>
</div>